{% extends "web/jinja2/base.html.j2" %}


{% block content %}
<!-- Begin Page Content -->
<section class="py-md-5">
	<div class="container-fluid">
		<div class="col-12">
			<div class="card mb-4 border-1">
				<div class="card-header py-3 px-0 align-items-center bg-white border-0">
					<div class="row">
						<div class="col-6">
							<h3 class="m-0 px-3 font-weight-bold text-dark">Today Crusher Sale Report</h3>
						</div
                        
					</div>
				</div>
                    
                <div class="row mx-0">
                    <div class="col-12">
                    <hr>
                        <span>
                            <form method="post">
                            {{csrf_input}}

                                <!--<div class="row mx-0">
                                    <input type="hidden" value="{{request.GET.company}}" name="company_id" id="company_id">
                                    
                                    <div class="col-lg-3 col-md-12 col-sm-12">
                                        <label for="from_date">From</label>
                                        <input type="date" name="from_date" id="from_date" class="form-control from_date"> 
                                    </div>
                                    <div class="col-lg-3 col-md-12 col-sm-12">
                                        <label for="to_date">To</label> 
                                        <input type="date" name="to_date" id="to_date" class="form-control to_date">
                                    </div>

                                    <div class="col-lg-3 col-md-12 col-sm-12">
                                        <label for="product_name">Select Product</label>
                                        <select class="custom-select form-control form-control-user rounded-1 select2_dropdown" multiple="multiple" name="product_name" id="product_name">
                                            <option value="" selected>Select</option>
                                            
                                            {% for data in product_filter %}
                                            <option value="{{data.item_name}}">{{data.item_name}}</option>
                                            {% endfor %}

                                        </select>
                                    </div>

                                    <div class="col-lg-2 col-md-12 col-sm-12" style="margin-top:2.3rem;">
                                        <button type="submit" class="btn btn-primary" id="searchTwoDate"><i class="fa fa-filter"></i>Search</submit>
                                    </div>
                                </div>-->
                                    
                                <div class="row mx-0">
                                    <div class="col-lg-3 col-md-12 col-sm-12">
                                        <label for="daily_report">Select Date</label>
                                        <input type="date" name="daily_report" id="daily_report" class="form-control"> 
                                    </div>
                                    <div class="col-lg-2 col-md-12 col-sm-12" style="margin-top:2.3rem;">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-filter"></i>Daily Report</submit>
                                    </div>
                                    {%if date_wise_mo_bill or daily_report_data or data_with_product %}
                                    <div class="col-3 mt-4 pt-3">
                                        <button class="btn btn-primary" onclick="printContent('crusherreport')">Print</button>
                                    </div>
                                    {%endif%}
                                </div>
                            </form>
                        </span>
                        <hr>
                    </div>   
                </div>
                    <div class="row mx-0" style="font-size:0.7rem;font-weight:700;">
                        <div class="col-sm-12 col-md-6 col-lg-12 table-responsive" id="crusherreport">
                            
                            <table id="mineInfo" class="table table-bordered" style="font-size:0.7rem; color:#000000;">
                                <thead id="main_thead_of_body">
                                    <tr>
                                       <th>S.N.</th>
                                        <th style="width:10rem;">Date/Time-In/Out</th>                                      
                                        <th>Txn/WBID</th>
                                        <th>Customer/<br>Vehicle No.</th>
                                        <th>E.Load<br>F.Load</th>
                                        <th>Net Load</th>
                                        <th>Item</th>
                                        <th>QTY</th>
                                        <th>Price</th>
                                        <th>GST Amt</th>
                                        <th>Amount</th>
                                        <th>Total Amount</th>
                                   </tr>
                                </thead>
                                <tbody class="">                                  

                                    {% for data in daily_report_data %}
                                    <tr>
                                        <td>{{loop.index}}</td>

                                        <td>{{data.meterial_out_id.in_date}} {{data.meterial_out_id.in_time}}<br>{{data.meterial_out_id.out_date}} {{data.meterial_out_id.out_time}}</td>
                                        <td>{{data.meterial_out_id.crusher_transaction_id}}<br>{{data.meterial_out_id.slip_no}}</td>
                                        
                                        <td><a href="#" style="text-decoration:none; color:black;" data-toggle="modal" data-target="#CustomerName{{data.id}}">{{data.meterial_out_id.customer_name}}</a><br>
                                            <a href="#" style="text-decoration:none; color:black;" data-toggle="modal" data-target="#VehicleNumber{{data.id}}">{{data.meterial_out_id.vehicle_no}}</a>
                                        </td>
                                        <td>{{data.meterial_out_id.in_weight}}<br>{{data.meterial_out_id.out_weight}}
                                        </td>
                                        <td>
                                            {{data.meterial_out_id.net_weight}}
                                            <input type="hidden" class="netload" value="{{data.meterial_out_id.net_weight}}">
                                        </td>
                                        <td>{{data.item_name}}</td>
                                        <td>{{data.quantity}}&nbsp;{{data.uom}}</td>
                                        <td>{{data.billing_price}}</td>
                                        <!--<td>{{data.gst_percentage}}</td>-->
                                        <td>
                                            {{data.gst_amount}}
                                            <input type="hidden" class="gstamount" value="{{data.gst_amount}}">
                                        </td>
                                        <td>{{data.billing_amount[:8]}}
                                            <input type="hidden" class="amount" value="{{data.billing_amount[:8]}}">
                                        </td>
                                        <td>{{data.total_amount[:8]}}
                                            <input type="hidden" class="grand_amount" value="{{data.total_amount[:8]}}">
                                        </td>
                                        {#<td>{{data.out_date}}</td>#} 
                                    </tr>
                                    {% endfor %}
                                    

                                    <tr class="" style="font-size:0.7rem; color:#000000;">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><strong>Total</strong></td>
                                        <td><strong><input type="text" class="totalload border-0" readonly style="font-weight: 700;"></strong></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>                                       
                                        <td><strong><input type="text" class="totalgst border-0" readonly style="font-weight: 700;"></strong></td>
                                        <td><strong><input type="text" class="totalamount border-0" readonly style="font-weight: 700;"></strong></td>
                                        <td><strong><input type="text" class="grandtotal border-0" readonly style="font-weight: 700;"></strong></td>
                                    </tr>    
                                </tbody>
                            </table>                                       
                        </div>
					</div>
			</div>
		</div>
	</div>
</section>

<script src="{{static ('vendor/jquery/jquery.min.js')}}"></script>
<script>
    $(document).ready(function(){
        var quan_data = new Array();
        var amount_data = new Array();
        var gst_data = new Array();
        var grand_data = new Array();

        $('.netload').each(function(){
            quan_data.push($(this).val())
        });

        $('.gstamount').each(function(){
            gst_data.push($(this).val())
        });

        $('.amount').each(function(){
            amount_data.push($(this).val())
            console.log($(this).val())
        });

        $('.grand_amount').each(function(){
            grand_data.push($(this).val())
            console.log($(this).val())
        });

        var tload = 0
        var totalgst = 0
        var total = 0
        var grand = 0
        for(var d=0; d<quan_data.length; d++){
            tload = tload + parseFloat(quan_data[d])                       
        }
        for(var a=0; a<gst_data.length; a++){          
            totalgst = totalgst + parseFloat(gst_data[a])            
        }
        for(var a=0; a<amount_data.length; a++){          
            total = total + parseFloat(amount_data[a])            
        }
        for(var a=0; a<grand_data.length; a++){          
            grand = grand + parseFloat(grand_data[a])            
        }
        console.log(total)
        $('.totalload').val(tload.toFixed(2));        
        $('.totalgst').val(totalgst.toFixed(2));        
        $('.totalamount').val(total.toFixed(2));        
        $('.grandtotal').val(grand.toFixed(2));        
    });
</script>
<script>
    function printContent(el) {
        var restorepage = document.body.innerHTML;
        var printcontent = document.getElementById(el).innerHTML;
        document.body.innerHTML = printcontent;
        window.print();
        setInterval('pageRefresh()',5000);
        }
        function pageRefresh() {
        location.reload(true);
        }
</script>

{% endblock %}
