
<ul id="" class="collapse pl-0 submenu{{c.id}}" aria-labelledby="headingPages" data-parent="#accordionSidebar">
    
    <div class="bg-white py-2 collapse-inner rounded">
               
        <li class="nav-item search_item">
            <a class="collapse-item mx-0 active" href="/customer-list/?company={{c.id}}"><span>Entity</span></a>
        </li>
        
               
        <li class="nav-item search_item">
            <a class="collapse-item mx-0" href="/user-list/?company={{c.id}}"><span>Users</span></a>
        </li>
        
        <li class="nav-item search_item">
            <a class="collapse-item mx-0" href="/master-product-list/?company={{c.id}}"><span>Product</span></a>
        </li>
        <li class="nav-item search_item">
            <a class="collapse-item mx-0" href="/master-driver-list/?company={{c.id}}"><span>Driver</span></a>
        </li>

        <li class="nav-item search_item">
            <a class="collapse-item mx-0" href="/master-vehicle-list/?company={{c.id}}"><span>Vehicle</span></a>
        </li>
        
       
        <li class="nav-item search_item">
            <a class="collapse-item mx-0" href="/mine-detail-list/?company={{c.id}}"><span>Mine Detail</span></a>
        </li>

        <li class="nav-item search_item">
            <a class="collapse-item mx-0" href="/crusher-detail-list/?company={{c.id}}"><span>Crusher Detail</span></a>
        </li>
        {#
        <li class="nav-item search_item">
            <a class="collapse-item mx-0" href="/owner-create/?company={{c.id}}"><span>Owner Detail</span></a>
        </li>
        #}

        {#
        <li class="nav-item search_item">
            <a class="collapse-item mx-0" href="#"><span>Electricity</span></a>
        </li>
        <li class="nav-item search_item">
            <a class="collapse-item mx-0" href="#"><span>Fuel</span></a>
        </li>
        <li class="nav-item search_item">
            <a class="collapse-item mx-0" href="#"><span>Court Case</span></a>
        </li>
        #}
    </div>
</ul>