{% extends "web/jinja2/base.html.j2" %} {% block title %} Raise Ticket {% endblock %} {% block title_header %}Raise
Ticket{% endblock %}
{% block content %}

<style>
  td {
    text-align: left;
  }





  #profile {
    background-color: unset
  }

  #post {
    margin: 10px;
    padding: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color: #ecb21f;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px;
    width: 50%
  }





  .comments {
    margin-top: 5%;
    margin-left: 20px
  }

  .darker {
    border: 1px solid #ecb21f;

    float: right;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px
  }

  .comment {

    float: left;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px
  }

  .comment h4,
  .comment span,
  .darker h4,
  .darker span {
    display: inline
  }

  .comment p,
  .comment span,
  .darker p,
  .darker span {
    color: rgb(184, 183, 183)
  }

  h1,
  h4 {
    color: white;
    font-weight: bold
  }

  label {
    color: rgb(212, 208, 208)
  }

  #align-form {
    margin-top: 20px
  }

  .form-group p a {
    color: white
  }



  #darker img {
    margin-right: 15px;
    position: static
  }

  .form-group input,
  .form-group textarea {

    border-radius: 12px
  }

  form {
    border-radius: 5px;
    padding: 20px
  }




  input[type=text],
  input[type=email],
  input[type=file],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: #4e73df;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #4e73df;
  }

  /* Create two columns that float next to eachother */

  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }

  /* Clear floats after the columns */

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

  @media screen and (max-width: 600px) {

    .column,
    input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  td {
    text-align: left;
  }

  .comments {
    margin-top: 5%;
    margin-left: 20px
  }

  .darker {
    border: 1px solid #ecb21f;
    background-color: black;
    float: right;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px
  }

  .comment {
    border: 1px solid rgb(201, 143, 18);
    background-color: rgba(16, 46, 46, 0.973);
    float: left;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px;
    width: 100%;

  }

  .comment h4,
  .comment span,
  .darker h4,
  .darker span {
    display: inline
  }

  .comment p,
  .comment span,
  .darker p,
  .darker span {
    color: rgb(184, 183, 183)
  }

  h1,
  h4 {
    color: white;
    font-weight: bold
  }

  label {
    color: rgb(212, 208, 208)
  }

  #align-form {
    margin-top: 20px
  }

  .form-group p a {
    color: white
  }

  #checkbx {
    background-color: black
  }

  #darker img {
    margin-right: 15px;
    position: static
  }

  #new_form input,
  #new_form textarea {
    background-color: black;
    border: 1px solid rgba(16, 46, 46, 1);
    border-radius: 12px
  }

  .new_form {
    border: 1px solid rgba(16, 46, 46, 1);
    background-color: rgba(16, 46, 46, 0.973);
    border-radius: 5px;
    padding: 20px
  }
</style>
{% block js %}
{% if msg %}
<script>
  alert("{{msg}}");
</script>
{% endif %}



{% endblock %}





<section class="py-md-5">
  <div class="container-fluid">
    <div class="col-12">
      <div class="card shadow mb-4 border-1">
        <div class="card-header py-3 px-0 align-items-center bg-warning border-0">
          <div class="row">
            <div class="col-md-6">
              <h3 class="m-0 px-3 font-weight-bold text-dark" style="float:right;color:black">Ticket Detail</h3>
            </div>
            <div class="col-md-6">
              <button class="btn  btn" style="margin-right:20px;float:right; background:#ff4e00;width:200px;color:black">{% if ticket.img %} <a href="{{ticket.img.url}}" style="color: black;">View Attachment</a>{% else %} No Attachment {% endif %}</button>
            </div>
          </div>
        </div>
        <form class="" method="post" name="assignForm" style="width: 100%;">
          {{csrf_input}}
          <div class="card-body px-0 text-dark font-weight-bold">
            
              


            <div class="row mx-0">

              <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="form-group mb-4">
                  <label for="exampleFormControlSelect1" style="color:black">Category</label>
                  <input type="text" value="{{ticket.category}}" disabled>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="form-group mb-4">
                  <label for="exampleFormControlSelect1" style="color:black">sub Category</label>
                  <input type="text" value="{{ticket.subcategory}}" disabled>
                </div>
              </div>


              {% if users == True %}
              <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="form-group mb-4">
                  <label for="exampleFormControlSelect1" style="color:black">Assign to</label>
                  <select class="form-control" id="exampleFormControlSelect1" name='assign_to'>
                    <option selected="">Please choose</option>
                    {% for u in allusers%}
                    <option value="{{u.id}}" {%if ticket.assign_to.id==u.id %} selected {%endif%}>{{u.name}}</option>
                    {%endfor%}

                  </select>
                </div>
              </div>
              {% endif %}

              <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="form-group mb-4">
                  <input type="hidden" value="{{ticket.id}}" name="s_id">
                  <label for="exampleFormControlSelect1" style="color:black">Status</label>
                  <select class="form-control" id="exampleFormControlSelect1" name="status_type">
                    
                    {% if users == True %}

                    <option value="Complete">Complete</option>
                    {%endif%}
                    <option value="Closed">Closed</option>
                    <option value="Active">Active</option>
                    <option value="WIP">WIP</option>
                    <option value="Hold">Hold</option>
                    <option value="Re-open">Re-open</option>


                  </select>
                </div>
              </div>
              
              
            <hr>
            <div class="row mx-0 position-relative">

              <div class=" col-12 pt-4 text-center">

                <button type="submit" class="btn btn-primary btn"
                  style="background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);">Update Status</button>
                {% if users == True %}
                <button type="submit" class="btn btn-primary btn"
                  style="background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);">Submit</button>
                {%endif%}

              </div>
            </div>


          </div>
        </form>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="form-group mb-4">
        <form id="algin-form" action="" name="commentForm" method="POST">
          {{csrf_input}}
          <input type="hidden" name="ticket" value="{{ticket.id}}">
          <div class="form-group" >
             <label for="exampleFormControlTextarea1"  for="message"><h4 style="color:black">Leave a comment</h4></label> <textarea name="message" id="" msg cols="30"
              rows="5" class="form-control" required></textarea>
          </div>
          <div class="form-group" style="text-align: center;"> <button  type="submit" class="btn btn-primary btn"
            style="background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);" class="btn" value="submit">Save Comment</button>
          </div>
        </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>




<!-- 
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-md-6 col-12 pb-4">
        <h1 style="color: black;">Comments</h1>
        {% for comm in comments %}
        <div class="comment mt-4 text-justify float-left">
          <h4 class="text-dark">{{ comm.user.name }}</h4> <span>{{ comm.created_at.strftime("%d-%b-%Y %I:%M %p") }}</span> <br>
          <p>{{ comm.message}}</p>
        </div>

        {% endfor %}
      </div>
      <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
        <form id="algin-form" action="" name="commentForm" method="POST" style="width: 100%;">
          {{csrf_input}}
          <input type="hidden" name="ticket" value="{{ticket.id}}">
          <div class="form-group">
            <h4 style="color: black; text-align:center">Leave a comment</h4> <label for="message">Message</label>
            <textarea name="message" id="" msg cols="30" rows="5" class="form-control"></textarea>
          </div>
          <button class="btn btn-default" type="submit" value="submit"
            style="background-color: white; color:black">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section> -->



<section style="background-color: black;">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-md-12 col-12 pb-4">
        <h1 style="text-align: center;">COMMENTS</h1>
        <div class="col-sm-5 col-md-6 col-12 pb-4">
          <div class="comment mt-4 text-justify"> <img src="{{ static ('img/message.jpeg') }}" alt="" class="rounded-circle"
            width="40" height="40">
          <h4>TKT_{{ ticket.ticket_id }}</h4> <span >(MESSAGE)</span> <br>
          <p>{{ ticket.msg}}</p>
        </div>
        {% for comm in comments %}
        <div class="comment mt-4 text-justify"> <img src="{{ static ('img/12.jpeg') }}" alt="" class="rounded-circle"
            width="40" height="40">
          <h4>{{ comm.user.name }}</h4> <span>-{{ comm.created_at.strftime("%d-%b-%Y %I:%M %p") }}</span> <br>
          <p>{{ comm.message}}</p>
        </div>
        {% endfor %}
      </div>
      </div>
     
      
    </div>
  </div>
</section>







{% endblock %}