
<ul id="" class="collapse pl-0 machine{{c.id}}" aria-labelledby="headingPages" data-parent="#accordionSidebar">
    
    <div class="bg-white py-2 collapse-inner rounded">
               
        <li class="nav-item search_item">
            <a class="collapse-item mx-0 active" href="/machine/register-machine/?company={{c.id}}"><span>Register Machine</span></a>
        </li>

        <li class="nav-item search_item">
            <a class="collapse-item mx-0" href="/machine/machine-view/?company={{c.id}}"><span>View Machine</span></a>
        </li>
        
    </div>
</ul>