
<ul id="" class="collapse pl-0 submaster{{c.id}}" aria-labelledby="headingPages" data-parent="#accordionSidebar">
    
    <div class="bg-white py-2 collapse-inner rounded">
               
        <li class="nav-item search_item">
            <a class="collapse-item mx-0 active" href="/customer-list/?company={{c.id}}"><span>Customer</span></a>
        </li>

        <li class="nav-item search_item">
            <a class="collapse-item mx-0" href="/master-vehicle-list/?company={{c.id}}"><span>Vehicle</span></a>
        </li>
        <li class="nav-item search_item">
            <a class="collapse-item mx-0" href="/master-driver-list/?company={{c.id}}"><span>Driver</span></a>
        </li>

        <li class="nav-item search_item">
            <a class="collapse-item mx-0 active" href="/inventory/product/inward/?company={{c.id}}"><span>Product-Consumable</span></a>
        </li>
        <li class="nav-item search_item">
            <a class="collapse-item mx-0 active" href="/inventory/meterial/inward/?company={{c.id}}"><span>Purchase-Consumable</span></a>
        </li>
    
    </div>
</ul>