<ul id="" class="collapse pl-0 crusher_outbound{{c.id}}" aria-labelledby="headingPages" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
        <li class="nav-item search_item">
            <a class="collapse-item mx-0" href="/crusher/outbondentry/?company={{c.id}}"><span>Entry</span></a>
        </li>
       
        <li class="nav-item search_item">
            <a class="collapse-item mx-0" href="/crusher/outbondexit/?company={{c.id}}"><span>Exit</span></a>
        </li>
        <li class="nav-item search_item">
            <a class="collapse-item mx-0" href="/crusher/outbound/info-list/?company={{c.id}}"><span>Info</span></a>
        </li>
        
        <li class="nav-item search_item">
            <a class="collapse-item mx-0" href="/reports/crusher/sale/report/?company={{c.id}}"><span>Report</span></a>
        </li>
    </div>
</ul>