{% extends "web/jinja2/base.html.j2" %}
{% block content %}
<section class="bg-white px-3 px-md-0">
	<div class="container">
		<!-- Outer Row -->
		<div class="row justify-content-center">
			<div class="col-xl-8 col-lg-9 col-md-10 col-12">
				<div class="card o-hidden border-0 my-5">
					<div class="card-body p-0">
						<!-- Nested Row within Card Body -->
						<div class="row">
							<div class="col-lg-12">
								<div class="p-5 border">
									<div class="text-left">
										<h1 class="h4 text-black mb-4 font-weight-bold text-dark">Forgot Password</h1>
									</div>
									<form class="user" method="post">
										<div class="form-group">
											<label for="forgot-password-username" class="text-dark">Email/Mobile</label>
											<input type="text" name="username" id="forgot-password-username" class="form-control form-control-user rounded-0 fvalidation" placeholder="Enter your Email/Mobile" aria-describedby="emailHelp" >
											<span class="text-danger error-msgpass error-msg" id="email_error"></span>

										</div>
										{# <div class="form-group mb-4">
											<label for="exampleInputEmail1" class="text-dark">Mobile No.</label>
											<input type="number" class="form-control form-control-user rounded-0 fvalidation" placeholder="Enter your Mobile No.">
											<span class="text-danger error-msg pass" id="password_error"></span>
										</div> #}
										<div class="row">
											<div class="col-12 col-md-6 text-left">
												<a href="javascript:void(0);" onclick="ForgotPassword()" id="send-otp-button" class="btn bg-gradient-primary w-auto px-5 h-auto py-2 border rounded-0 text-white f-s-18 text-uppercase">
													Send OTP
												</a>
											</div>
											<div class="col-12 col-md-6 text-right d-none" id="enter-otp">
												<a href="javascript:void(0);" data-toggle="modal" data-target="#for-otp" class="btn bg-gradient-primary w-auto px-5 h-auto py-2 border rounded-0 text-white f-s-18 text-uppercase">
													Enter OTP
												</a>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>    
	</div>
</section>

<div class="modal fade right pr-0" id="for-otp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content h-100">
      <div class="modal-header px-5">
        <h5 class="modal-title" id="exampleModalLabel">VERIFY OTP</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
      	<p class="h6 mb-4 my-2 text-center text-dark px-0 px-md-4" id="exampleModalLabel">Please enter the OTP (One Time Password) sent to your Email or Mobile</p>
	      <form class="user" method="post">
				<div class="userInput-otp d-flex justify-content-center">
					<input class="forgot-password-otp" type="text" id='ist' maxlength="1" onkeyup="clickEvent(this,'sec')">
					<input class="forgot-password-otp" type="text" id="sec" maxlength="1" onkeyup="clickEvent(this,'third')">
					<input class="forgot-password-otp" type="text" id="third" maxlength="1" onkeyup="clickEvent(this,'fourth')">
					<input class="forgot-password-otp" type="text" id="fourth" maxlength="1" onkeyup="clickEvent(this,'fifth')">
					<input class="forgot-password-otp" type="text" id="fifth" maxlength="1" onkeyup="clickEvent(this,'sixth')">
					<input class="forgot-password-otp" type="text" id="sixth" maxlength="1" >
				</div>
				<div class="row">
					<div class="col-12 col-lg-12 text-center">
						<button type="button" onclick="VerifyOtp()" class="btn my-4 bg-gradient-primary w-auto px-5 h-auto py-2 border rounded-0 text-white f-s-18 text-uppercase">
							Confirm
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-lg-12 text-center">
						<p class="text-center ttext-color mb-0 w-100">did't receive OTP</p>
			            <p class="text-center w-100"><a onclick="ForgotPassword()" class="font-weight-bold" href="#" ><u>Resend</u></a></p>
					</div>
				</div>
			</form>
		</div>
    </div>
  </div>
</div>


<script>
	function clickEvent(first,last){
		if(first.value.length){
			document.getElementById(last).focus();
		}
	}
</script>

<script>
	function ForgotPassword(){
		var username = $("#forgot-password-username").val();
		var csrf_token = $(".csrf-token").data("csrf-token");
		if($.trim(username)){
			$.ajax({
				type:'POST',
				url: "{{url('forgot_password_api')}}",
				headers: {"X-CSRFToken": csrf_token},
				data : {'username':username},
				success: function (resp) {
					var data = resp.data;
					$("#for-otp").modal('show');
					$("#enter-otp").removeClass("d-none");
					$("#forgot-password-username").attr('readonly',true);
					$("#send-otp-button").html('Resend Otp');
					toastr.success("Otp sent successfully");
				},
				error: function(err) {
					toastr.error("Invalid user");
				}
			});
		}
		else{
			toastr.error("Please fill mandatory field.")
			$("#forgot-password-username").focus();
		}
	return true;
	}

	function VerifyOtp(){
		var username = $("#forgot-password-username").val();
		var otp_obj = $(".forgot-password-otp");
		var otp = '';
		for(i=0;i<otp_obj.length;i++){
			otp+=otp_obj[i].value;
		}
		var csrf_token = $(".csrf-token").data("csrf-token");
		if($.trim(username) && $.trim(otp)){
			$.ajax({
				type:'POST',
				url: "{{url('reset_password_api')}}",
				headers: {"X-CSRFToken": csrf_token},
				data : {'username':username,'otp':otp},
				success: function (resp) {
					toastr.success("Otp verified successfully");
					location.href = "{{url('reset-password')}}";
				},
				error: function(err) {
					toastr.error("Invalid otp");
				}
			});
		}
		else{
			toastr.error("Please fill mandatory field.")
		}
	return true;
	}
</script>

{% endblock %}