{% extends "web/jinja2/base.html.j2" %}
{% block content %}
<section class="bg-white">
	<div class="container">
		<!-- Outer Row -->
		<div class="row justify-content-center">
			<div class="col-xl-8 col-lg-9 col-md-10 col-12">
				<div class="card o-hidden border-0 my-5">
					<div class="card-body p-0">
						<!-- Nested Row within Card Body -->
						<div class="row">
							<div class="col-lg-12">
								<div class="p-5 border">
									<div class="text-left">
										<h1 class="h4 text-black mb-4 font-weight-bold text-dark">Reset Password</h1>
									</div>
									<form class="user" method="post" action="" id="reset-password-form">
									{{csrf_input}}
										<div class="form-group mb-4">
											<label for="reset-password" class="text-dark">Password</label>
											<input type="password" name="password" class="form-control form-control-user rounded-0" id="reset-password" fvalidation>
											
										</div>
										<div class="form-group mb-4">
											<label for="reset-confirm-password" class="text-dark">Confirm Password</label>
											<input type="password" class="form-control form-control-user rounded-0" id="reset-confirm-password" fvalidation>
											
										</div>
										<div class="col-12 mt-0">
												<small class="error-form mar-0 text-danger" id="aj_pass">{% if error %}{{error}}{%endif%}</small>
										</div>
										<div class="row">
											<div class="col-12 col-lg-6">
												<button type="button" onclick="ResetPassword()" id="submit-btn" class="btn bg-gradient-primary btn-user btn-block border rounded-0 text-white f-s-18 text-uppercase">
                                                    Submit
												</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>    
	</div>
</section>

<script>
    function ResetPassword(){
        pass = $("#reset-password").val();
        pass2 = $("#reset-confirm-password").val();
        if($.trim(pass) && $.trim(pass2) && pass.length>7){
            if(pass==pass2){
                $("#reset-password-form").submit();
            }
            else{
                toastr.error("Passwords do not match.");
                return false;
            }
        }
        else{
            toastr.error("Please fill mandatory fields(minimum length of 8).")
        }
    }
</script>

{% endblock %}