{% extends "web/jinja2/base.html.j2" %}
{% block content %}
<!-- Begin Page Content -->
<section class="py-md-5">
	<div class="container-fluid">
		<div class="col-12">
			<div class="card mb-4 border-1">
				<div class="card-header py-3 px-0 align-items-center bg-white border-0">
					<div class="row">
						<div class="col-9">
							<h3 class="m-0 px-3 font-weight-bold text-dark">Crusher Purchase-Vehicle IN</h3>
						</div>	
						<div class="col-3">
							<span class="m-0 px-3">
							<a href="/transaction/crusher/update/new/?company={{company_id}}" class="btn btn-primary"><i class="fa fa-plus"></i>Add</a>
							</span>
						</div>
					</div>
				</div>
				<div class="card-body px-0">
                    <div class="row mx-0">
                        <div class="col-lg-12 col-md-12 col-sm-12 table-responsive">
							<table id="crusher_entry" class="table table-border">
								<thead class="text-center">
									<tr>
										<th>S.N.</th>
										<th>Customer</th>
										<th>Vehicle No.</th>
										<th>Driver Name</th>
										<th>Mobile</th>
										<th>Date</th>
										{#<th>Status</th>#}
										<th>Action</th>
										
									</tr>
								</thead>
								<tbody class="text-center">  
									{% for data in in_transaction %}  
									<tr>
										<td>{{loop.index}}</td>
										<td>{% if data.crusher_id %}{{data.crusher_id}}{% else %}{{data.customer_name}}{% endif %}</td>
										<td><a href="/transaction-crusher/{{data.id}}/?company={{company_id}}">{{data.vehicle_no}}</a></td>
										<td>{{data.driver_name}}</td>
										<td>{{data.mobile}}</td>
										<td>{{data.in_date}}</td>
										{#<td>{{data.status|title}}</td>#}
										<td>
                                        	<div class="dropdown show">
												<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													<i class="fas fa-ellipsis-v"></i>
												</a>													
												<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
													<a href="#" data-toggle="modal" data-target="#DetailViewList{{data.id}}" class="dropdown-item" title="View">View</a>
													{#<a href="/transaction/crusher/delete/{{data.id}}/{{company_id}}/" class="dropdown-item" title="Cancel">Cancel</a>#}
												</div>
											</div>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>            
						</div>
                        <hr>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Here -->
{% for data in in_transaction %}
<section>
  <!-- Crusher Purchase List Detail -->
  
    <div class="modal fade" id="DetailViewList{{data.id}}" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{data.vehicle_no}}</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
				<div class="card-body px-0">
					<div class="row mx-0">
						<div class="col-lg-12 col-md-12 col-sm-12 bg-primary">
                            <h5 style="color:white;"> In Detail View </h5>
                        </div> 
						<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="form-group mb-4">
								<label for="company_name">Company</label>
								<input type="text" name="company_name" value="" placeholder="{{data.company_name}}" class="form-control" readonly>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="form-group mb-4">
								<label for="customer_name">Customer</label>
								<input type="text" name="customer_name" value="{% if data.customer_name%}{{data.customer_name}} {%else%}--{%endif%}" class="form-control" readonly>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="form-group mb-4">
								<label for="in_date">In Date</label>
								<input type="text" name="in_date" value="{{data.in_date}}" class="form-control" readonly>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="form-group mb-4">
								<label for="in_time">In Time</label>
								<input type="text" name="in_time" value="{{data.in_time}}" class="form-control" readonly>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="form-group mb-4">
								<label for="vehicle_no">Vehicle No.</label>
								<input type="text" name="vehicle_no" value="{{data.vehicle_no}}" class="form-control" readonly>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 col-sm-12">
							<div class="form-group mb-4">
								<label for="driver_name">Driver</label>
								<input type="text" name="driver_name" value="{{data.driver_name}}" class="form-control" readonly>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="form-group mb-4">
								<label for="mobile">Mobile</label>
								<input type="text" name="mobile" value="{{data.mobile}}" class="form-control" readonly>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 col-sm-12">
							<div class="form-group mb-4">
								<label for="kaata">Kaata No.</label>
								<input type="text" name="kaata" value="{{data.kaata_no}}" class="form-control" readonly>
							</div>
						</div>

						<div class="col-lg-2 col-md-3 col-sm-12">
							<div class="form-group mb-4">
								<label for="in_weight">In Weight</label>
								<input type="text" name="in_weight" value="{{data.in_weight}}" class="form-control" readonly>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 col-sm-12">
							<div class="form-group mb-4">
								<label for="advance">Advance</label>
								<input type="text" name="advance" value="{{data.received_advance}}" class="form-control" readonly>
							</div>
						</div>
					</div>
                    <div class="row mx-0">
                        <div class="col-lg-12 col-md-12 col-sm-12 bg-primary">
                            <h5 style="color:white;"> Out Detail View </h5>
                        </div>    
                    </div>
                    <div class="row mx-0">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="form-group mb-4">
                                <label for="mine_name">Mine Name</label>
                                <input type="text" value="{{data.mine_id}}" name="mine_name" id="mine_name" class="form-control" readonly>    
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="form-group mb-4">
                                <label for="out_date">Out Date</label>
                                <input type="text" value="{{data.out_date}}" name="out_date" id="out_date" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="form-group mb-4">
                                <label for="out_time">Out Time</label>
                                <input type="text" value="{{data.out_time}}" name="out_time" id="out_time" class="form-control" readonly>
                            </div>
                        </div>
						<div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="form-group mb-4">
                                <label for="out_time">Internal/External</label>
                                <input type="text" value="{{data.internal_external}}" name="internal_external" id="internal_external" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="form-group mb-4">
                                <label for="vendor_name">Customer Name*</label>
                                <input type="text" name="vendor_name" id="vendor_name" placeholder="{{data.crusher_id}}" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="form-group mb-4">
                                <label for="master_product">Product Name</label>
                                <input type="text" name="master_product" id="master_product" placeholder="{{data.master_product.item_name}}" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12">
                            <div class="form-group mb-4">
                                <label for="price">Price</label>
                                <input type="text" name="price" id="price" placeholder="{{data.price}}" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12">
                            <div class="form-group mb-4">
                                <label for="out_kaata_no">Out Kaata No</label>
                                <input type="text" name="out_kaata_no" id="out_kaata_no" placeholder="{{data.out_kaata_no}}" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12">
                            <div class="form-group mb-4">
                                <label for="out_weight">Full Load</label>
                                <input type="text" name="out_weight" id="out_weight" placeholder="{{data.out_weight}}" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12">
                            <div class="form-group mb-4">
                                <label for="net_weight">Net Load</label>
                                <input type="text" name="net_weight" id="net_weight" placeholder="{{data.net_weight}}" class="form-control" readonly>
                            </div>
                        </div>
                        
                        <div class="col-lg-22 col-md-3 col-sm-12">
                            <div class="form-group mb-4">
                                <label for="amount">Amount*</label>
                                <input type="text" name="amount" id="amount" placeholder="{{data.amount}}" class="form-control" readonly>
                            </div>
                        </div>
                        
                        <div class="col-lg-2 col-md-3 col-sm-12">
                            <div class="form-group mb-4">
                                <label for="ravana_no">Ravana No.*</label>
                                <input type="text" name="ravana_no" id="ravana_no" placeholder="{{data.ravana_no}}" class="form-control" readonly>
                            </div>
                        </div>
                              
                    </div>
					<div class="row mx-0">
                        <div class="col-lg-12 col-md-12 col-sm-12 bg-primary">
                            <h5 style="color:white;"> Sale Detail View </h5>
                        </div>    
                    </div>
					<div class="row mx-0">
                        {% for i in data.mine_materialminesale.all() %}
                        {% if i.bill_type == 'minesale' %}
						<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="form-group mb-4">
								<label for="item_name">Item Name</label>
								<input type="text" value="{{i.item_name}}" class="form-control" readonly>    
							</div>
						</div>
                        <div class="col-lg-2 col-md-3 col-sm-12">
							<div class="form-group mb-4">
								<label for="quanity">Quantity</label>
								<input type="text" value="{{i.quantity}}" class="form-control" readonly>    
							</div>
						</div>
						<div class="col-lg-2 col-md-3 col-sm-12">
							<div class="form-group mb-4">
								<label for="item_name">Price</label>
								<input type="text" value="{{i.billing_price}}" class="form-control" readonly>    
							</div>
						</div>
						
						<div class="col-lg-2 col-md-3 col-sm-12">
							<div class="form-group mb-4">
								<label for="item_name">Gst Amount</label>
								<input type="text" value="{{i.gst_amount}}" class="form-control" readonly>    
							</div>
						</div>
						
						<div class="col-lg-2 col-md-3 col-sm-12">
							<div class="form-group mb-4">
								<label for="item_name">Billing Amount</label>
								<input type="text" value="{{i.billing_amount}}" class="form-control" readonly>    
							</div>
						</div>
                        <div class="col-lg-2 col-md-3 col-sm-12">
							<div class="form-group mb-4">
								<label for="item_name">Total</label>
								<input type="text" value="{{i.total_amount}}" class="form-control" readonly>    
							</div>
						</div>
					    {%endif%}
                        {%endfor%}							
					</div>
					{#
					<div class="row mx-0">
						<div class="col-lg-2 col-md-3 col-sm-12">
							<div class="form-group mb-4">
								<label for="commission">Commission</label>
								<input type="text" value="{{data.commission}}" class="form-control" readonly>    
							</div>
						</div>
						<div class="col-lg-2 col-md-3 col-sm-12">
							<div class="form-group mb-4">
								<label for="advance">Advance</label>
								<input type="text" value="{{data.advance}}" class="form-control" readonly>    
							</div>
						</div>
						<div class="col-lg-2 col-md-3 col-sm-12">
							<div class="form-group mb-4">
								<label for="other_charges">Other Charges</label>
								<input type="number" value="{{data.other_charges}}" class="form-control" readonly>    
							</div>
						</div>
						<div class="col-lg-2 col-md-3 col-sm-12">
							<div class="form-group mb-4">
								<label for="royalty_charges">Royalty Charges</label>
								<input type="number" value="{{data.royalty_charges}}" class="form-control" readonly>    
							</div>
						</div>
						<div class="col-lg-2 col-md-3 col-sm-12">
							<div class="form-group mb-4">
								<label for="item_name">&#8377; Received</label>
								<input type="number" value="{{data.payment_received}}" class="form-control" readonly>    
							</div>
						</div>
						<div class="col-lg-2 col-md-3 col-sm-12">
							<div class="form-group mb-4">
								<label for="item_name">&#8377; Pending</label>
								<input type="text" value="{{data.pending_amt}}" class="form-control" readonly>    
							</div>
						</div>
						
						<div class="col-lg-2 col-md-3 col-sm-12">
							<div class="form-group mb-4">
								<label for="item_name">Billing Amount</label>
								<input type="text" value="{{data.billing_amount}}" class="form-control" readonly>    
							</div>
						</div>
						
						<div class="col-lg-2 col-md-3 col-sm-12">
							<div class="form-group mb-4">
								<label for="item_name">Invoice</label>
								<input type="text" value="{{data.invoice_number}}" class="form-control" readonly>    
							</div>
						</div>
						<div class="col-lg-2 col-md-3 col-sm-12">
							<div class="form-group mb-4">
								<label for="item_name">Grand Total</label>
								<input type="text" value="{{data.grand_total}}" class="form-control" readonly>    
							</div>
						</div>
					</div>
					#}		
                    <hr>
				</div>			
            </div>
        </div>
    </div>

</section>
{% endfor %}

<script src="{{static ('vendor/jquery/jquery.min.js')}}"></script>

<script>
    $(document).ready(function(){
        $('#crusher_entry').DataTable({
        "pagingType": "full_numbers"
        });
        $('dataTables_length').addClass('bs-select');
    });
</script>



{% endblock %}
