<ul id="" class="collapse pl-0 crusher_inbound{{c.id}}" aria-labelledby="headingPages" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
        <li class="nav-item search_item">
            <a class="collapse-item mx-0" href="/transaction/crusher/entry-list/?company={{c.id}}"><span>Entry</span></a>
        </li>
       
        <li class="nav-item search_item">
            <a class="collapse-item mx-0" href="/transaction/crusher/exit-list/?company={{c.id}}"><span>Exit</span></a>
        </li>
        <li class="nav-item search_item">
            <a class="collapse-item mx-0" href="/transaction/crusher/info-list/?company={{c.id}}"><span>Info</span></a>
        </li>
        
        <li class="nav-item search_item">
            <a class="collapse-item mx-0" href="/reports/crusher/purchase/report/?company={{c.id}}"><span>Report</span></a>
        </li>
        {#
        <li class="nav-item search_item">
            <a class="collapse-item mx-0" href="/crusher/inbound/stock/?company={{c.id}}"><span>Live Stock</span></a>
        </li>
        #}
    </div>
</ul>