{% extends "web/jinja2/base.html.j2" %}
{% block content %}
<!-- Begin Page Content -->
<section class="py-2">
	<div class="container-fluid">
		<h1 class="h3 mb-2 text-gray-800">Product List</h1>
    	<p class="mb-4">you can add and view list of Driver.</p>
		<div class="row">
			<div class="col-12">
				<div class="card mb-4 border-0">
					<div class="card-body position-relative pl-0 pr-0">
						<div class="card shadow mb-4">
                            <div class="card-header bg-warning py-3">
                                <div class="row w-100 align-items-center">
                                    <div class="col-12 col-md-6">
                                        <h6 class="m-0 font-weight-bold text-black">Driver List</h6>
                                    </div>
                                    <div class="col-12 col-md-6 text-md-right mt-4 mt-sm-0">
                                        <a href="/master-driver/?company={{company_id}}" class="btn bg-transparent text-black">Add Driver</a>
                                    </div>
                                </div>
                            </div>
                        <div class="card-body">
                            <table class="table" id="dataTable" width="100%" cellspacing="0">
                                <thead class="text-center">
                                    <tr>
                                        <th>S.N.</th>
                                        <th>Name</th>
                                        <th>Mobile</th>
                                        <th>DL</th>
                                        <th>Aadhar</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">  
                                    {% for data in drivers %}  
                                    <tr>
                                        <td>{{loop.index}}</td>
                                        <td>{{data.driver_name|title}}</td>
                                        <td>{{data.mobile}}</td>
                                        <td>{% if data.license_no %}{{data.license_no}}{%else%}--{%endif%}</td>
                                        <td>{% if data.aadhar_no %}{{data.aadhar_no}}{%else%}--{%endif%}</td>
                                        <td>
                                            <div class="tools">
                                                <div class="text-right btn-group">
                                                    <button type="button" class="btn btn-box-tool dropdown-toggle" 
                                                            data-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-v"></i>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="/driver/edit/{{data.id}}/?company={{company_id}}" style="color:inherit;"><i class="fa fa-edit"></i>Edit</a>
                                                        </li>
                                                        <li><a href="/driver/delete/{{data.id}}/?company={{company_id}}" onclick="return confirm('Are you sure?')"; style="color:inherit;"><i class="fa fa-delete"></i>Delete</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>            
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Here -->

<script src="{{static ('vendor/jquery/jquery.min.js')}}"></script>


<script>
    $(document).ready(function(){
        $('#master_product').DataTable({
        "pagingType": "full_numbers"
        });
        $('dataTables_length').addClass('bs-select');
    });
</script>


{% endblock %}
